{{define "posts"}}
<div id="allposts-container">
    {{if .Error}}

    <div role="alert">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
            Error
        </div>
        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
            <p>{{.Error}}</p>
        </div>
    </div>

    {{else}}

    {{range .Posts}}
    <div class="post border border-gray-200 dark:border-gray-700 p-4 rounded mb-4">
        <a href="/post/{{ .Post.ID }}" class="hover:underline">
            <h2 class="text-xl font-bold text-gray-900 dark:text-gray-100">
                {{ .Post.Title }}
            </h2>
        </a>
        <div class="text-sm text-gray-600 dark:text-gray-400">
            {{ if $.IsUserPage }}
            {{.Post.CreatedAt}}
            {{ else }}
            Posted by <a class="hover:underline" href="/user/{{ .Post.UserID }}"><strong>{{.Username}}</strong></a> on
            {{.Post.CreatedAt}}
            {{ end }}
        </div>
        <div class="mt-2 text-gray-800 dark:text-gray-300">
            {{.Post.Description}}
        </div>
    </div>
    {{end}}

    <div class="flex justify-between mt-4">
        {{ if .HasPrevious }}
        <button hx-get="/?page={{ .PreviousPageNumber }}" hx-target="#allposts-container" hx-swap="outerHTML"
            hx-push-url="true"
            class="bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-200 px-4 py-2 rounded hover:bg-gray-300 dark:hover:bg-gray-600">
            Previous
        </button>
        {{ else }}<div></div>{{ end }}

        {{ if .HasNext }}
        <button hx-get="/?page={{ .NextPageNumber }}" hx-target="#allposts-container" hx-swap="outerHTML"
            hx-push-url="true"
            class="bg-gray-200 dark:bg-gray-700 text-gray-700 dark:text-gray-200 px-4 py-2 rounded hover:bg-gray-300 dark:hover:bg-gray-600">
            Next
        </button>
        {{ else }}<div></div>{{ end }}
    </div>

    {{end}}
</div>
{{end}}
