{{ define "footer" }}
<footer class="bg-gray-100 dark:bg-gray-800 p-4 mt-8">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <p class="text-gray-600 dark:text-gray-300 text-sm">
            Copyright © 2025 Harry Day. All rights reserved.
        </p>
        <div class="mt-2 md:mt-0">
            <a href="https://github.com/harrydayexe" target="_blank"
                class="text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white text-sm mr-4">
                GitHub
            </a>
            <a href="https://linkedin.com/in/harrydayexe" target="_blank"
                class="text-gray-600 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white text-sm">
                LinkedIn
            </a>
        </div>
    </div>
</footer>
{{ end }}
