{{define "head"}}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <!-- Load stylesheet -->
    <!-- <link rel="stylesheet" href="/static/style.css" /> -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!-- Load Roboto Mono for the header text -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet" />
    <!-- HTMX via CDN -->
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <!-- Alpine.js via CDN -->
    <script src="//unpkg.com/alpinejs" defer></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", (event) => {
            document.body.addEventListener('htmx:beforeSwap', function (evt) {
                if (evt.detail.xhr.status === 422) {
                    console.log("setting status to paint");
                    // allow 422 responses to swap as we are using this as a signal that
                    // a form was submitted with bad data and want to rerender with the
                    // errors
                    //
                    // set isError to false to avoid error logging in console
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            });
        });
    </script>
    <script type="text/javascript">
        function onRemoved(cookie) {
            console.log(`Removed: ${cookie}`);
        }

        function onError(error) {
            console.log(`Error removing cookie: ${error}`);
        }

        function removeCookie(tabs) {
            let removing = browser.cookies.remove({
                url: tabs[0].url,
                name: "auth_token",
            });
            removing.then(onRemoved, onError);
        }
    </script>
</head>
{{end}}
