{{ define "login-form" }}
<div id="login-container">
    <form id="login-form" hx-post="/login" hx-swap="outerHTML"
        class="max-w-md mx-auto bg-white dark:bg-gray-800 p-6 rounded shadow">
        <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
        <div class="mb-4">
            <label for="username" class="block text-gray-700 dark:text-gray-300 mb-2">Username</label>
            <input type="text" id="username" name="username" required
                class="w-full px-4 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300" {{ if
                (.Values) }} {{ if (.Values.Username) }} value="{{ .Values.Username }}" {{ end }} {{ end }}>
            {{ if (.Errors) }}
            {{ if (.Errors.Username) }}
            <div class="error text-red-500 text-sm mt-1">{{ .Errors.Username }}</div>
            {{ end }}
            {{ end }}
        </div>
        <div class="mb-6">
            <label for="password" class="block text-gray-700 dark:text-gray-300 mb-2">Password</label>
            <input type="password" id="password" name="password" required
                class="w-full px-4 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300">
            {{ if (.Errors) }}
            {{ if (.Errors.Password) }}
            <div class="error text-red-500 text-sm mt-1">{{ .Errors.Password }}</div>
            {{ end }}
            {{ end }}
        </div>
        <div class="flex justify-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded">
                Log In
            </button>
        </div>
        {{ if (.Errors) }}
        {{ if (.Errors.Login) }}
        <div class="error text-center text-red-500 text-sm mt-4">{{ .Errors.Login }}</div>
        {{ end }}
        {{ end }}
    </form>
</div>
{{ end }}

{{ define "login-success" }}
<div id="login-messages" class="max-w-md mx-auto" hx-swap-oob="afterend:#login-form" role="alert">
    <div class="p-4 mb-4 text-green-700 bg-green-100 rounded-lg mt-8" role="alert">
        <div class="flex items-center">
            <svg class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 10-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
            </svg>
            <div>
                <span class="font-medium">Success!</span> You have logged in successfully.
            </div>
            <div class="ml-auto">
                {{ template "spinner" }}
            </div>
        </div>
    </div>
    <script>
        // Wait 2 seconds before redirecting
        setTimeout(function () {
            window.location.href = "/";
        }, 500);
    </script>
</div>
{{ end }}
