{{define "head"}}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <!-- Load stylesheet -->
    <!-- <link rel="stylesheet" href="/static/style.css" /> -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!-- Load Roboto Mono for the header text -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet" />
    <!-- HTMX via CDN -->
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
</head>
{{end}}
