<!DOCTYPE html>
<html lang="en">

{{ template "head" .Head }}

<body class="bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <!-- Header Bar -->
    <header class="bg-white dark:bg-gray-800 p-4 shadow-md">
        <div class="container mx-auto flex items-center">
            <h1 class="text-2xl font-bold" style="font-family: 'Roboto Mono', monospace; color: #FF9400;">
                Omni
            </h1>
        </div>
    </header>

    <!-- Main Content -->
    <main class="p-4 container mx-auto">
        {{range .Posts}}
        <div class="post border border-gray-200 dark:border-gray-700 p-4 rounded mb-4">
            <h2 class="text-xl font-bold text-gray-900 dark:text-gray-100">{{ .Post.Title }}</h2>
            <div class="text-sm text-gray-600 dark:text-gray-400">
                Posted by <strong>{{.Username}}</strong> on {{.Post.CreatedAt}}
            </div>
            <div class="mt-2 text-gray-800 dark:text-gray-300">
                {{.Post.Description}}
            </div>
        </div>
        {{end}}
    </main>
</body>

</html>
